{% extends "base.html" %}

{% block title %}Create Recipe{% endblock %}

{% block content %}
    <div class="d-flex flex-row">
        <div class="w-50 me-2 my-2">
            <h2>Describe Recipe</h2>
            <div class="d-flex flex-row">
                <div class="mb-3 w-50 me-1 mt-1 d-flex align-items-end">
                    <div class="w-100 text-secondary form-floating">
                        <input type="text" class="form-control" id="name" placeholder="Recipe name">
                        <label for="name">Recipe name</label>
                    </div>
                </div>
                <div class="mb-3 w-50 ms-1">
                    <label for="image" class="form-label">Recipe image</label>
                    <input class="form-control" type="file" accept=".jpg,.gif,.png" id="image">
                </div>
            </div>
            <div class="mb-3 text-secondary form-floating">
                        <textarea class="form-control" id="description" aria-label="With textarea"
                                  placeholder="Recipe Description"></textarea>
                <label for="description">Recipe description</label>
            </div>
            <div class="mb-3 d-flex flex-row justify-content-between">
                <div class="w-50 d-flex flex-row">
                    <div class="me-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="vegetarian">
                            <label class="form-check-label" for="vegetarian">Vegetarian</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="vegan">
                            <label class="form-check-label" for="vegan">Vegan</label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="gluten_free">
                            <label class="form-check-label" for="gluten_free">Gluten free</label>
                        </div>
                    </div>
                </div>
                <div class="w-50">
                    <div class="input-group">
                        <div class="text-secondary form-floating">
                            <input type="number" class="form-control" id="prep_time" placeholder="Prep time">
                            <label for="prep_time">Prep time</label>
                        </div>
                        <span class="input-group-text w-25 justify-content-center">min</span>
                    </div>
                </div>
            </div>
            <div class="mb-3 text-secondary form-floating">
                <textarea class="form-control" id="instruction" aria-label="With textarea"
                          placeholder="Recipe Instructions"
                          style="min-height: 100px;"></textarea>
                <label for="instruction">Recipe Instructions</label>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div>
                    <h2 class="text-primary-custom" id="recipe_kcal">0 kcal total</h2>
                    <h4 class="text-secondary-custom" id="recipe_protein">0g protein total</h4>
                </div>
                <button class="btn btn-success" id="finish_button">Create recipe</button>
            </div>
        </div>
        <div class="w-50 ms-2 my-2">
            <div class="d-flex justify-content-between flex-row mb-2">
                <h2>Ingredients</h2>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
                    Ingredient
                </button>
            </div>
            <div class="w-100 h-100 rounded-3 p-2 border border-primary overflow-scroll" id="ing_container">

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-secondary" id="exampleModalLabel">Create Ingredient</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3 text-secondary">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="ing_name" placeholder="Ingredient name">
                            <label for="ing_name">Ingredient name</label>
                        </div>
                    </div>
                    <div class="input-group mb-3 text-secondary">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="ing_brand" placeholder="Ingredient brand">
                            <label for="ing_brand">Ingredient brand</label>
                        </div>
                    </div>
                    <div class="input-group mb-3 text-secondary">
                        <div class="form-floating">
                            <input type="number" class="form-control ing-input" id="ing_amount_used"
                                   placeholder="Used amount">
                            <label for="ing_amount_used">Used amount</label>
                        </div>
                        <span class="input-group-text w-25 justify-content-center">g</span>
                    </div>
                    <div class="input-group mb-3 text-secondary">
                        <div class="form-floating">
                            <input type="number" class="form-control ing-input" id="ing_carbs" placeholder="Carbs">
                            <label for="ing_carbs">Carbs</label>
                        </div>
                        <span class="input-group-text w-25 justify-content-center">per 100g</span>
                    </div>
                    <div class="input-group mb-3 text-secondary">
                        <div class="form-floating">
                            <input type="number" class="form-control ing-input" id="ing_fat" placeholder="Fat">
                            <label for="ing_fat">Fat</label>
                        </div>
                        <span class="input-group-text w-25 justify-content-center">per 100g</span>
                    </div>
                    <div class="input-group mb-3 text-secondary">
                        <div class="form-floating">
                            <input type="number" class="form-control ing-input" id="ing_protein" placeholder="Protein">
                            <label for="ing_protein">Protein</label>
                        </div>
                        <span class="input-group-text w-25 justify-content-center">per 100g</span>
                    </div>
                    <h2 class="text-primary-custom" id="kcal-output-total">0 kcal total</h2>
                    <h4 class="text-secondary-custom" id="kcal-output-100g">0 kcal on 100g</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-ingredient">Add ingredient</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block scripts %}
    <script type="text/javascript">
        var maxH = $('#ing_container').css("height");
        $('#ing_container').css({"maxHeight": maxH});
        var ings = [];
        kcal = 0;
        protein = 0;
    </script>

    <!--Listener-->
    <script type="text/javascript">
        // Modal save change button listener
        $("#save-ingredient").on("click", function () {
            var ing_name = $("#ing_name").val();
            var ing_brand = $("#ing_brand").val();
            var ing_carbs = $("#ing_carbs").val();
            var ing_fat = $("#ing_fat").val();
            var ing_protein = $("#ing_protein").val();
            var ing_amount_used = $("#ing_amount_used").val();
            const ing = new Ingredient(ing_name, ing_brand, ing_carbs, ing_fat, ing_protein, ing_amount_used);
            ings.push(ing);
            console.log(ing.calcKcal());
            console.log(ings);
            addIngredient(ing)
            $('#exampleModal').modal('hide');
            kcal = kcal + ing.calcKcal();
            protein = protein + ing.calcProtein();
            $("#recipe_kcal").html(kcal + " kcal total");
            $("#recipe_protein").html(protein + "g protein total");

        });

        // Ingredient input change listener
        $(".ing-input").on("change", function () {
            var ing_carbs = $("#ing_carbs").val();
            console.log(ing_carbs);
            var ing_fat = $("#ing_fat").val();
            var ing_protein = $("#ing_protein").val();
            var ing_amount_used = $("#ing_amount_used").val();
            try {
                var kcal = Math.round(calcKcal(ing_carbs, ing_protein, ing_fat));
                var kcal_total = Math.round(kcal * (ing_amount_used / 100));
                if (!(isNaN(kcal))) {
                    $("#kcal-output-100g").html(kcal + " kcal on 100g");
                    if (ing_amount_used !== "") {
                        $("#kcal-output-total").html(kcal_total + " kcal total");
                    }
                }
            } catch (e) {
                console.log("ERROR");
            }
        });

        // Ingredient delete button listener
        $(document).on("click", ".delete-button", function () {
            const index = $(this).closest(".ingredient-element").index();
            console.log(index);

            const delIng = ings.at(index);
            console.log(delIng);
            ings.splice(index, 1);

            $(this).closest(".ingredient-element").remove();

            kcal = kcal - delIng.calcKcal();
            protein = protein - delIng.calcProtein();
            $("#recipe_kcal").html(kcal + " kcal total");
            $("#recipe_protein").html(protein + "g protein total");
        });

        // Create recipe button listener
        $("#finish_button").on("click", function () {
            const name = $("#name").val();
            const description = $("#description").val();
            const prep_time = $("#prep_time").val();
            const instruction = $("#instruction").val();
            const vegan = $("#vegan").is(":checked");
            const vegetarian = $("#vegetarian").is(":checked");
            const gluten_free = $("#gluten_free").is(":checked");
            const created_by = "{{ session["user_id"] }}"
            const recipeImage = $("#image")[0].files[0];

            const recipe = new Recipe(name, description, prep_time, instruction, vegetarian, vegan, gluten_free, created_by, ings);
            const formData = new FormData();
            formData.append("recipe", JSON.stringify(recipe)); // Serialize recipe object
            formData.append("recipeImage", recipeImage); // Append image file

            $.ajax({
                type: "POST", // Use the appropriate HTTP method
                url: "/api/recipes", // Replace with your actual endpoint URL
                data: formData,
                processData: false, // Prevent jQuery from processing the data
                contentType: false, // Let the browser set the content type
                success: function (response) {
                    // Handle success response from the server
                    console.log("Data sent successfully", response);
                    window.open("/","_self");
                },
                error: function (error) {
                    // Handle error response from the server
                    console.error("Error sending data", error);
                }
            });

        });
    </script>

    <!--Data classes-->
    <script type="text/javascript">
        class Ingredient {
            ing_name;
            ing_brand;
            ing_carbs;
            ing_fat;
            ing_protein;
            ing_amount_used;

            constructor(ing_name, ing_brand, ing_carbs, ing_fat, ing_protein, ing_amount_used) {
                this.ing_name = ing_name;
                this.ing_brand = ing_brand;
                this.ing_carbs = ing_carbs;
                this.ing_fat = ing_fat;
                this.ing_protein = ing_protein;
                this.ing_amount_used = ing_amount_used;
            }

            toString() {
                return "ing_name: " + ing_name;
            }

            calcKcal() {
                var total = 0;
                total = total + this.ing_carbs * 4;
                total = total + this.ing_protein * 4;
                total = total + this.ing_fat * 9;
                total = total * (this.ing_amount_used / 100);
                return Math.round(total);
            }

            calcProtein() {
                return Math.round(this.ing_protein * (this.ing_amount_used / 100));
            }

        }

        class Recipe {
            name;
            description;
            prep_time;
            instruction;
            vegetarian;
            vegan;
            gluten_free;
            created_by;

            ings;


            constructor(name, description, prep_time, instruction, vegetarian, vegan, gluten_free, created_by, ings) {
                this.name = name;
                this.description = description;
                this.prep_time = prep_time;
                this.instruction = instruction;
                this.vegetarian = vegetarian;
                this.vegan = vegan;
                this.gluten_free = gluten_free;
                this.created_by = created_by;
                this.ings = ings;
            }
        }
    </script>

    <!--Functions-->
    <script type="text/javascript">
        function addIngredient(ing) {
            const ingElement = document.createElement('div');
            const ingContent = `
                            <div class="w-100 mb-2 rounded-3 bg-opaque bg-secondary p-2 d-flex justify-content-between">
                            <div>
                                <p class="m-0"><b>${ing.ing_name}</b></p>
                                <p class="m-0 text-light-grey"><i>${ing.ing_brand}, ${ing.ing_amount_used}g</i></p>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="text-end">
                                    <p class="m-0 text-primary-custom"><b>${ing.calcKcal()} kcal</b></p>
                                    <p class="m-0 text-secondary-custom"><b><i>${ing.calcProtein()}g protein</i></b></p>
                                </div>
                                <div class="d-flex justify-content-center align-items-center ms-2">
                                    <button class="btn btn-danger delete-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        `;
            ingElement.classList.add('ingredient-element');
            // Set the HTML content of the recipe element
            ingElement.innerHTML = ingContent;

            // Append the recipe element to the container
            const container = document.getElementById('ing_container');
            container.appendChild(ingElement);
        }

        function calcKcal(carbs, protein, fat) {
            var total = 0;
            total = total + carbs * 4;
            total = total + protein * 4;
            total = total + fat * 9;
            return total;
        }
    </script>
{% endblock %}