{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row m-3">
        <div class="col-2 p-0">
            <div class="card sticky-top bg-transparent border-0" style="top: 4rem;">
                <div class="input-group mb-3 text-secondary">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="min_kcal" placeholder="Min. kcal">
                        <label for="min_kcal">Min. kcal</label>
                    </div>
                    <span class="input-group-text w-25 justify-content-center">kcal</span>
                </div>

                <div class="input-group mb-3 text-secondary">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="max_kcal" placeholder="Max. kcal">
                        <label for="max_kcal">Max. kcal</label>
                    </div>
                    <span class="input-group-text w-25 justify-content-center">kcal</span>
                </div>

                <div class="input-group mb-3 text-secondary">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="min_protein" placeholder="Min. protein">
                        <label for="min_protein">Min. protein</label>
                    </div>
                    <span class="input-group-text w-25 justify-content-center">g</span>
                </div>

                <div class="input-group mb-3 text-secondary">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="max_prep_time" placeholder="Max. prep time">
                        <label for="max_prep_time">Max. prep time</label>
                    </div>
                    <span class="input-group-text w-25 justify-content-center">min</span>
                </div>

                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="vegetarian">
                        <label class="form-check-label" for="vegetarian">Vegetarian</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="vegan">
                        <label class="form-check-label" for="vegan">Vegan</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="gluten_free">
                        <label class="form-check-label" for="gluten_free">Gluten free</label>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary mb-3" id="filter_btn">Filter</button>
                    <button role="button" onclick="window.location.href='/';" class="btn btn-danger mb-3"
                            id="filter_reset_btn">Reset
                    </button>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="favorites">
                        <label class="form-check-label" for="vegetarian">Show favourites</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="own_recipes">
                        <label class="form-check-label" for="vegan">Show own recipes </label>
                    </div>
                </div>

                <input class="btn btn-primary w-100" onclick="window.location.href='/user';" type="button"
                       value="Add new recipe" id="add_recipe_btn">

            </div>
        </div>
        <div id="recipe-container" class="col-10 px-4 m-0">
        </div>
    </div>

{% endblock %}

{% block scripts %}



    <!--Listeners-->
    <script type="text/javascript">
        query_str = "";
        // Scroll listener
        $(window).scroll(() => {
            var current_y = Math.floor($(window).scrollTop());
            var window_height = Math.floor($(window).height());
            var document_height = Math.floor($(document).height());
            if (current_y + window_height === document_height) {
                counter += 1;
                downloadContent(counter, limit, query_str)
            }
        });

        // Filter button listener
        $("#filter_btn").on("click", function () {
            query_str = "";

            var min_kcal = $("#min_kcal").val();
            var max_kcal = $("#max_kcal").val();
            var min_protein = $("#min_protein").val();
            var max_prep_time = $("#max_prep_time").val();
            var vegetarian = $("#vegetarian").is(":checked");
            var vegan = $("#vegan").is(":checked");
            var gluten_free = $("#gluten_free").is(":checked");
            var favorites_only = $("#favorites").is(":checked");


            if (min_kcal) {
                query_str = query_str + "&min_kcal=" + min_kcal;
            }
            if (max_kcal) {
                query_str = query_str + "&max_kcal=" + max_kcal;
            }
            if (min_protein) {
                query_str = query_str + "&min_protein=" + min_protein;
            }
            if (max_prep_time) {
                query_str = query_str + "&max_prep_time=" + max_prep_time;
            }
            if (vegetarian) {
                query_str = query_str + "&vegetarian=" + vegetarian;
            }
            if (vegan) {
                query_str = query_str + "&vegan=" + vegan;
            }
            if (gluten_free) {
                query_str = query_str + "&gluten_free=" + gluten_free;
            }
            if (favorites_only) {
                query_str = query_str + "&favorites_only=" + favorites_only;
            }
            flushContent();
            counter = 1;
            end = false;

            if (this.checked) {
                query_str += "&favorites=true";  // Append favorites parameter
                downloadContent(counter, limit, query_str, true);
            } else {
                downloadContent(counter, limit, query_str, false);
            }
        });

    </script>

    <!--Functions-->
    <script type="text/javascript">

        var counter = 1;
        var limit = 10;
        var end = false;

        // initialize home page
        downloadContent(counter, limit, "")

        // Function to remove all recipes
        function flushContent() {
            $("#recipe-container").empty();
        }

        // Function to query recipes from API and append them to the page
        function downloadContent(counter, limit, query_str) {
            if (!end) {
                $.get("/api/recipes/?counter=" + counter + "&limit=" + limit + "&user_id=" + "{{ session["user_id"] }}" + query_str, function (data) {
                    data.forEach(recipe => {
                        // Create a new recipe element
                        const recipeElement = document.createElement('div');
                        let recipeContent = `
                            <div class="recipe bg-secondary mb-4 row m-0 p-4 rounded-3 bg-opaque bg-secondary">
                                <div class="col-2">
                                    <img src="/static/${recipe.img_path}" alt="indisch" class="rounded-3 w-100 h-100" style="object-fit: cover;">
                                </div>
                                <div class="recipe_info_container col-9">
                                    <h1><a class="text-white link-light" href="/recipe/${recipe.id}" style="text-decoration: none">${recipe.name}</a></h1>
                                    <table>
                                        <tr class="fs-4">
                                            <td class="nutrition_label text-end pe-3 text-primary-custom">kcal</td>
                                            <td>${recipe.total_kcal}</td>
                                        </tr>
                                        <tr class="fs-4">
                                            <td class="nutrition_label text-end pe-3 text-primary-custom" style="color: var(--cstm_primary)">Protein</td>
                                            <td>${recipe.total_protein}g</td>
                                        </tr>
                                        <tr>
                                            <td class="tag_label text-end pe-3 text-secondary-custom">Ingredients</td>
                                            <td class="tag_value">${recipe.ingredients_amount}</td>
                                        </tr>
                                        <tr>
                                            <td class="tag_label text-end pe-3 text-secondary-custom">Prep time</td>
                                            <td class="tag_value">${recipe.prep_time} min</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-1 p-0 d-flex align-items-end button-container">
                                    <button id="like_button" type="button" class="btn btn-outline-secondary like-button">

                            </button>
                                </div>
                            </div>
                            `;
                        // Set the HTML content of the recipe element
                        recipeElement.innerHTML = recipeContent;

                        const buttonContainer = recipeElement.querySelector('.like-button');
                        const likeButtonElement = document.createElement('div');
                        likeButtonFilled = `
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                            <span class="visually-hidden">Button</span>
                        `;
                        likeButtonNotFilled = `
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                            <span class="visually-hidden">Button</span>
                        `;

                        if (recipe.favorite) {
                            likeButtonElement.innerHTML = likeButtonFilled;
                        } else {
                            likeButtonElement.innerHTML = likeButtonNotFilled;
                        }
                        buttonContainer.appendChild(likeButtonElement);

                        const likeButton = recipeElement.querySelector('.like-button');
                        likeButton.addEventListener('click', () => {
                            toggleFavorite(recipe.id, buttonContainer);
                        });


                        // Append the recipe element to the container
                        const container = document.getElementById('recipe-container');
                        container.appendChild(recipeElement);
                    });
                }).fail(function () {
                    const container = document.getElementById('recipe-container');
                    const endElement = document.createElement('div');
                    endElement.innerHTML = `
                            <div class="d-flex justify-content-center">
                                <p class="fs-5 text-secondary">No more recipes!</p>
                            </div>
                        `
                    container.appendChild(endElement);
                    end = true;
                });
            }
        }

        function toggleFavorite(recipeId, buttonContainer) {
            const user_id = "{{ session["user_id"] }}";
            $.ajax({
                type: "POST", // Use the appropriate HTTP method
                url: "/api/toggle_favorite?user_id=" + user_id + "&" + "recipe_id=" + recipeId, // Replace with your actual endpoint URL
                success: function (response) {
                    // Handle success response from the server
                    console.log("Data sent successfully", response);
                    if (response === "on") {
                        buttonContainer.innerHTML = likeButtonFilled;
                    } else if (response === "off") {
                        buttonContainer.innerHTML = likeButtonNotFilled;
                    }
                },
                error: function (error) {
                    // Handle error response from the server
                    console.error("Error sending data", error);
                }
            });
        }
    </script>

{% endblock %}