{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row m-3">
        <div class="col-2 p-0">
            <div class="card sticky-top bg-transparent border-0" style="top: 4rem;">
                <div class="input-group mb-3 text-secondary">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="min_kcal" placeholder="Min. kcal">
                        <label for="min_kcal">Min. kcal</label>
                    </div>
                    <span class="input-group-text w-25 justify-content-center">kcal</span>
                </div>

                <div class="input-group mb-3 text-secondary">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="max_kcal" placeholder="Max. kcal">
                        <label for="max_kcal">Max. kcal</label>
                    </div>
                    <span class="input-group-text w-25 justify-content-center">kcal</span>
                </div>

                <div class="input-group mb-3 text-secondary">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="min_protein" placeholder="Min. protein">
                        <label for="min_protein">Min. protein</label>
                    </div>
                    <span class="input-group-text w-25 justify-content-center">g</span>
                </div>

                <div class="input-group mb-3 text-secondary">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="max_prep_time" placeholder="Max. prep time">
                        <label for="max_prep_time">Max. prep time</label>
                    </div>
                    <span class="input-group-text w-25 justify-content-center">min</span>
                </div>

                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="vegetarian">
                        <label class="form-check-label" for="vegetarian">Vegetarian</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="vegan">
                        <label class="form-check-label" for="vegan">Vegan</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="gluten_free">
                        <label class="form-check-label" for="gluten_free">Gluten free</label>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary mb-3" id="filter_btn">Filter</button>
                    <button role="button" onclick="window.location.href='/';" class="btn btn-danger mb-3"
                            id="filter_reset_btn">Reset
                    </button>
                </div>
            </div>
        </div>
        <div id="recipe-container" class="col-10 px-4 m-0">
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var counter = 1;
        var limit = 10;
        var end = false;

        // initialize home page
        downloadContent(counter, limit, "")


        
        // Scroll listener
        $(window).scroll(() => {
            var current_y = Math.floor($(window).scrollTop());
            var window_height = Math.floor($(window).height());
            var document_height = Math.floor($(document).height());
            if (current_y + window_height === document_height) {
                counter += 1;
                downloadContent(counter, limit, query_str)
            }
        });

        // Filter Button listener
        var query_str = "";
        $("#filter_btn").on("click", function () {
            query_str = "";

            var min_kcal = $("#min_kcal").val();
            var max_kcal = $("#max_kcal").val();
            var min_protein = $("#min_protein").val();
            var max_prep_time = $("#max_prep_time").val();
            var vegetarian = $("#vegetarian").is(":checked");
            var vegan = $("#vegan").is(":checked");
            var gluten_free = $("#gluten_free").is(":checked");


            if (min_kcal) {
                query_str = query_str + "&min_kcal=" + min_kcal;
            }
            if (max_kcal) {
                query_str = query_str + "&max_kcal=" + max_kcal;
            }
            if (min_protein) {
                query_str = query_str + "&min_protein=" + min_protein;
            }
            if (max_prep_time) {
                query_str = query_str + "&max_prep_time=" + max_prep_time;
            }
            if(vegetarian) {
                query_str = query_str + "&vegetarian=" + vegetarian;
            }
            if(vegan) {
                query_str = query_str + "&vegan=" + vegan;
            }
            if(gluten_free) {
                query_str = query_str + "&gluten_free=" + gluten_free;
            }
            flushContent();
            counter = 1;
            end = false;
            downloadContent(counter, limit, query_str)
        });




        // Function to remove all recipes
        function flushContent() {
            $("#recipe-container").empty();
        }

        // Function to query recipes from API and append them to the page
        function downloadContent(counter, limit, query_str) {
            if (!end) {
                $.get("/api/recipes/?counter=" + counter + "&limit=" + limit + query_str, function (data) {
                    data.forEach(recipe => {
                        // Create a new recipe element
                        const recipeElement = document.createElement('div');
                        const recipeContent = `
                            <div class="recipe bg-secondary mb-4 row m-0 p-4 rounded-3 bg-opaque bg-secondary">
                                <div class="col-3">
                                    <img src="/static/${recipe.img_path}" alt="indisch" class="rounded-3 w-100 h-100" style="object-fit: cover;">
                                </div>
                                <div class="recipe_info_container col-9">
                                    <h1><a class="text-white link-light" href="/recipe/${recipe.id}" style="text-decoration: none">${recipe.name}</a></h1>
                                    <table>
                            <tr class="fs-4">
                                <td class="nutrition_label text-end pe-3 text-primary-custom">kcal</td>
                                <td>${recipe.total_kcal}</td>
                            </tr>
                            <tr class="fs-4">
                                <td class="nutrition_label text-end pe-3 text-primary-custom" style="color: var(--cstm_primary)">Protein</td>
                                <td>${recipe.total_protein}g</td>
                            </tr>
                            <tr>
                                <td class="tag_label text-end pe-3 text-secondary-custom">Ingredients</td>
                                <td class="tag_value">${recipe.ingredients_amount}</td>
                            </tr>
                            <tr>
                                <td class="tag_label text-end pe-3 text-secondary-custom">Prep time</td>
                                <td class="tag_value">${recipe.prep_time} min</td>
                            </tr>
                        </table>
                                </div>
                            </div>
                        `;

                        // Set the HTML content of the recipe element
                        recipeElement.innerHTML = recipeContent;

                        // Append the recipe element to the container
                        const container = document.getElementById('recipe-container');
                        container.appendChild(recipeElement);
                    });
                }).fail(function () {
                    const container = document.getElementById('recipe-container');
                    const endElement = document.createElement('div');
                    endElement.innerHTML = `
                            <div class="d-flex justify-content-center">
                                <p class="fs-5 text-secondary">No more recipes!</p>
                            </div>
                        `
                    container.appendChild(endElement);
                    end = true;
                });
            }
        }
    </script>

{% endblock %}