{% extends "base.html" %}

{% block title %}User{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif category == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
    <h1>Logged in as: {{ email }}</h1>
    <form method="POST" id="changeEmailForm" action="{{ url_for('change_email') }}">
        <fieldset>
            <legend>Change your Email</legend>
            <div class="text-secondary form-floating mb-3">
                <input type="email" class="form-control" id="newEmail" name="newEmail" placeholder="Enter new Email" required>
                <label for="newEmail" class="form-label">Enter new Email</label>
            </div>
            <div class="text-secondary form-floating mb-3">
                <input type="password" class="form-control" id="currentPasswordChangeEmail" name="currentPasswordChangeEmail" placeholder="Enter Password" required>
                <label for="currentPasswordChangeEmail" class="form-label">Enter Password</label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Change Email</button>
            </div>
        </fieldset>
    </form>
    <form method="POST" id="changePasswordForm" action="{{ url_for('change_password') }}">
        <fieldset>
            <legend>Change your Password</legend>
            <div class="text-secondary form-floating mb-3">
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Enter password" required>
                <label for="currentPassword" class="form-label">Enter password</label>
            </div>
            <div class="text-secondary form-floating mb-3">
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter new password" required>
                <label for="newPassword" class="form-label">Enter new password</label>
            </div>
            <div class="text-secondary form-floating mb-3">
                <input type="password" class="form-control" id="newPassword2" name="newPassword2" placeholder="Confirm new password" required>
                <label for="newPassword2" class="form-label">Confirm new password</label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}